
html{
  font-family: "Fira Sans", sans-serif;
}

#origin_form{
  padding: 0em 1em;
}

#station_select{
  font-size: 2em;
}

.checkbox_wrapper{
  display: inline-block;
  margin: 1em 1em 0em 0em;
}

#destinations_container > div{
  display: block;
  max-width: 300px;
  height: 30em;
  float: left;
  margin: 1em;
  overflow: hidden;
}

#destinations_container > div > img{
  width: 100%;
  min-height: 198px;
  background-color: #76998f;
}

#destinations_container > div > h2 > a{
  text-decoration: none !important;
  color: #14382e;;
}

#destinations_container > div > h2 > a:hover{
  text-decoration: underline !important;
  color: #206e58;
}

#destinations_container > div > h2{
  margin: 0.7em 0em;
}

#destinations_container > div > p {
  margin: 0.8em 0em;
}

.traveline_link{
  text-decoration: none !important;
  color: #C31D36;
}

.traveline_link:hover{
  text-decoration: underline !important;
}

.google_maps_link{
  color: #101f87;
  text-decoration: none !important;
}

.google_maps_link:hover{
  color: #105187;
  text-decoration: underline !important;
}

.free{
  font-style: italic;
}

.alerts a{
  text-decoration: none !important;
  color: #a84f0c;
}

.alerts a:hover{
  text-decoration: underline !important;
  color: #ec6907;
}